@charset "utf-8";
/* CSS Document */

@media screen and (max-width:1121px) {
	
	.section-one .register {
		width:100%;
	}
	.section-two .concept {
		width:100%;
	}
	.section-three .location {
		width:100%;
	}
	.section-four .header {
		width:100%;
	}
	
}
@media screen and (max-width:991px) {
	.noIntroSection #wrapper_content {
	  top: 133px;
	}	
	.section-two .concept .style1 br {
		display: none;
	}

}

@media screen and (max-width:767px) {
	
		#intro {
		position: relative;
		margin-left:auto;
		margin-right:auto;
		display:table;
		background-position:center center;
		background-repeat:no-repeat;
		background-size: cover;
		background-attachment: scroll;
		z-index:99;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	#intro .contentCentering {
		display:table-row;
	}
	#intro .contentCentering .contentCenteringInner {
		display:table-cell;
		text-align:center;
		vertical-align:middle;
		padding: 70px 0;
		height: 500px;
	}


	#wrapper_content {
		position:relative;
	}
	#intro .detail_pro {
		max-height: none;
		width:390px;
		padding:15px 45px;
		text-align:center;
		margin:0 auto ;
		position:relative;
		left:0;
		top:0;
		-webkit-transform: translate(0, 0); 
 	 	-ms-transform: translate(0, 0); 
 	 	 transform: translate(0, 0);
	}
	#intro .bt-scroll-down {
	 position: absolute;
	 margin: auto;
	 top: auto;
	 text-align: center;
	 bottom: 10px;
	}
	.section-two .concept h2 {
		line-height:1.2;
	}
	.section-two .concept .ex {
		width:100%;
		height:auto;
		margin-bottom:15px;
		overflow:auto;
	}
	.section-two .concept .ex .ex-icon {
		float:none;
		width:auto;
		height:auto;
		display: block;
		margin: 30px;
		padding: 0;
	}
	.section-four .header h2 {
		margin-top: 80px;
	}
	.noIntroSection #wrapper_content {
		top: 0;
	}
	/* edit font-size */
	#wrapper_content h2 {
		font-size: 34px;
	}
	[class*=section-] {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and (max-width:730px) {
	
	.section-three .location .style1 br{
		display:none;
	}
	#section-four-gallery {
		width:100%;
		max-width:100%;
		position:relative;
		overflow:hidden;
		margin-bottom:0;
		padding-bottom:0;
	}
	#section-four-gallery .gallery-img {
		width:50%;
		height:auto;
    padding-bottom: 31.4%;
	}
	
}

@media screen and (max-width:630px) {

}

@media screen and (max-width:530px) {
	
	#intro .detail_pro {
		width:80%;
		padding:10% 5%;
		text-align:center;
		margin:0 auto;
		position:relative;
		z-index:-1;
		left:0;
		top:0;
		-webkit-transform: translate(0, 0); 
 	 	-ms-transform: translate(0, 0); 
 	 	 transform: translate(0, 0);
	}
	#intro .bt-scroll-down {
		text-align:center;
		margin:70px auto 0 auto;
		width:70px;
		position: relative;
		z-index:9999;
		left:0;
		top:0;
		-webkit-transform: translate(0, 0); 
 	 	-ms-transform: translate(0, 0); 
 	 	 transform: translate(0, 0);
	}
	
	
	#presale-footer .logo-left {
		width:170px;
		height:auto;
		margin:100px 0 45px 0;
	}
	#presale-footer .logo-left img{
		width:100%;
		height:auto;
	}
	#presale-footer .logo-right{
		width:100px;
		height:auto;
		margin:100px 15px 55px 0;
	}
	#presale-footer .logo-right img{
		width:100%;
		height:auto;
	}
}

@media screen and (max-width:462px) {
	#intro .detail_pro {
		font-size: 24px;
	}
	#intro .detail_pro .title_text {
		font-size: 28px;
	}
	.section-three .location .map{
		width:90%;
		height:auto;
		padding-left:0;
		padding-right:0;
	}
}
@media screen and (max-width:435px) {
	
}
@media screen and (max-width:380px) {
	#intro {
		padding:15px 0;
	}
	#intro .bt-scroll-down {
		/*margin:40px auto 0 auto;*/
		position: absolute;
		right: 0;
		top: auto;
		bottom: 5%;
	}
	
}