.PLP-finance-collapse .panel-heading {
	background-color: #ffdc39;
	color: #000;
}

.PLP-finance-collapse .panel-body.mortgages {
	border-bottom: 7px solid #ffdc39;
	background-color: #f8f4e4;
}

.ps-Txt-BlueGreen {
	color: #028c99;
}

.PLP-finance-form .form-control{
	border: 2px solid #eff0f2;
}

input[type="text"].disabled {
	background: #028c99;
	border: 2px solid #ffdc39;
}

.PLP-finance-form .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	border: 2px solid #eff0f2;
}

.PLP-bg-white-wPadding {
	background-color: #dfdbd4;
}

.PLP-floorPlan.floor-plan .floorplan-item {
	background-color: #fff;
	border: 4px solid #028c99;
}

.zoom-in {
	background: transparent;
}

.PLP-floorPlan.floor-plan i {
	display: inline-block;
}

.PLP-finance-collapse .nav-btstep>li.active>a {
	background-color: #028c99;
	border: 2px solid #ffdc39;
}

.PLP-finance-collapse .nav-btstep>li>a {
	box-shadow: 2px 2px 0 1px #787878;
}

.table-simple-borderBlueGreen.table > thead > tr > th {
	color: #028c99;
	border-left: 1px solid #028c99 !important;
	border-top: 1px solid #028c99 !important;
	border-bottom: 1px solid #028c99 !important;
	border-right: 1px solid #028c99;
}

.table-simple-borderBlueGreen.table > tbody > tr > td {
	border-left: 1px solid #028c99;
	border-right: 1px solid #028c99;
}

.btn-simple-Strawberry {
	background-color: #028c99;
	padding: 5px 20px;	
	color: #fff !important;
	font-family: db_gill_siam_xregular;
	border-radius: 0;
	font-size: 14px;

}

.btn-simple-Strawberry .textdownload>a{
	color: #fff;
}
.btn-simple-Strawberry .textdownload>a:hover{
	color: #ccc;
}
.textdownload .glyphicon-play{top: 1px;margin-left: 4px;margin-right: 4px;}


.table-simple-borderBlueGreen.table tr.help-text > td {
	color: #000;
	font-weight: bold;
	border-left: 1px solid #028c99 !important;
	border-top: 1px solid #028c99 !important;
	border-bottom: 1px solid #028c99 !important;
	border-right: 1px solid #028c99;
}

.table-simple-borderBlueGreen{
	background-color: #fff;
	margin-bottom: 0px;
}

.PLP-BTN-theme-sm {
	background-color: #ffdc39;
	color: #000;
}

.bordertbe {
	border-bottom: 1px solid #028c99;
}

.PLP-mortgages-BTN-warp {
	padding-top: 0px;
	border-top: 0px;
	margin-top: 0px;
}

.PLP-folder-wrap .PLP-folder-download {
	color: #028c99;
}

.PLP-folder-wrap .PLP-folder-name {
	color: #000;
}

.step3download {
	color: #3b3a3c;
	text-align: center;
}

.leftdownload {
	-moz-transform: scalex(-1);
	-webkit-transform: scalex(-1);
	-o-transform: scalex(-1);
	-ms-transform: scalex(-1);
	transform: scalex(-1);
}

.PLP-folder-wrap .PLP-folder-number{
	color: #000;
}

.namemedia {
	color: #028c99;
}

.PLP-finance-collapse .panel-heading .panel-title a {
	font-family: 'DB Helvethaica X Med Cond';
}

.pre-tab {
	border-bottom: 8px solid #ffdc39;
}

.pre-tab .prebox {
	background: #f8f4e4;
	border-right: 1px solid #ffdc39;
}

.tab-mortgages > li.active > a,.tab-mortgages.pretab > li > a{
	background-color: #ffdc39;
	color:#000;
}

.tab-mortgages > li.active > a:hover {
background-color: #ffdc39;
color: #000;
}

.label-mortgages {
	background-color: #ffdc39;
	color: #000;
}

.label-mortgages .glyphicon {
	color : #ffdc39;
}

.caption.news h3 {
	border-bottom: 0px;
}

.PLP-homespec-page-wrapper .home-spec-container, .PLP-homespec-page-wrapper .spec-detail, .PLP-homespec-page-wrapper .buyable-container {
	background-color: #e3e3e3;
}

.PLP-homespec-page-wrapper .spec-detail-inner h3 {
	color: #028c99;
}

.home-spec-container-wrapper{
	margin-top: 15px;
}