
/*set backgroup*/
body{
	background-image: url("../img/wireframe/export/bg.png");
}
.scroll{
	overflow: auto !important;
}
.zoom{
	position: relative;
	text-align: right;
	right: 16px;
}
.img-responsive{
	margin:0 auto;
}
.plan-menu .child{
	display: none;
}
.plan-menu li:first-child .child{
	display: block;
}
.fac-list div{
	line-height: 22px;
}
.fac-item {
	margin-bottom: 8px;
}
.parent{
	cursor: pointer;
}
a.btn{
	border: 0;
}
a.btn:hover{
	color: #fff !important;
}
p{
	color: #000;
}
.modal-header .close{
	margin-top: -10px;
}
.ps-FT-gb-wrap p{
	color: #000;
}
.ps-FT-gb-eNews .input-group-addon button{
	background-color: transparent !important;
}
.ps-custom .social-book-mark{
	padding: 0px;
}
.btn{
	border-radius: 0px !important;
}
.bg-white{
	background: #fff;
}
.bg-box-set1{
	background: #fff;
	/*color: #f57b21;*/
	border-color: #f77b00 !important;
}
.bg-box-set2{
	background: #f57b21;
	color: #fff;
	border-color: #f77b00 !important;
}
.selectpicker{
	background: #fff;
}
.no-border{
	border: 0px;
}
.border-white{
	border: 2px solid #fff;
}
.border-black{
	border: 2px solid #000;
}
.border-bold{
	border: 2px solid #1a1a1a;
}
.border-gray{
	border: 2px solid #e2e2e2;
}
.ps-KS-hd-global .btn-default{
	height: 34px !important;
}
li{
	list-style: none;
}
.no-padding{
	padding:0px !important;
}
.no-margin{
	margin:0px;
}
.set-margin{
	margin-top: 30px;
	overflow: hidden;
}
#facility.set-margin{
	margin-top: 2px;
}
.no-set-top{
	top:0 !important;
}
.txt.set-padding{
	padding: 20px;
}
.set-padding{
	padding: 10px;
	overflow: hidden;
}
.ps-custom .bx-wrapper{
	margin:0px;
}
.list-project{
	margin-top: 2px;
}
.list-project a{
	padding: 5px;
}
.box{
	height: 253px;
	overflow: hidden;
}
.box-line-height{
	line-height: 235px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.font-25{
	font-size: 25px !important;
	line-height: 27px;
}
.font-23{
	font-size: 23px !important;
	line-height: 24px;
}
.font-18{
	font-size: 18px !important;
	line-height: 20px;
}
.font-17{
	font-size: 17px !important;
}
.font-16{
	font-size: 16px !important;
	line-height: 19px;
}
.line-height-25{
	line-height: 25px !important;
}
.text-align-right{
	text-align: right;
}
.text-align-left{
	text-align: left;
}
.font-white{
	color: #fff !important;
}
.font-black{
	color: #000 !important;
}
.font-set1{
	color: #f77734 !important;
}
.font-set2{
	color: #515151 !important;
}
.font-set3{
	color: #533014 !important;
}
.font-set4{
	color: #3e3e3e !important;
}
.font-bold{
	font-family:db_gill_siam_xbold !important;
}
.font-regular{
	font-family:db_gill_siam_xregular !important;
}
.border-bottom{
	border-bottom:1px solid #585858;
}
.floor-list{
	padding-bottom: 0px;
}
.floor-list li{
	padding-bottom: 5px;
}
.floor-list .border-bottom{
	padding-bottom: 5px;
	margin-bottom: 5px;
}
p.topic{
	font-size: 19px;
}
p.sub-topic{
	font-size: 14px;
	color: #643921;
}
.full-width{
	width: 100% !important;
}
.full-height{
	height: 253px;
}
#th .footer-txt{
	position: relative;
	top: -1px;
	line-height: 50px;
}
.margin-center{
	margin:0 auto;
}
.display-table{
	display: table;
}
.icon-footer{
	margin-right: 10px;
}
.ofh{
	overflow: hidden;
}
.ps-FT-gb-Social-FamClub a{
	padding: 10px;
}
.no-border{
	border: 0px;
}
.topPanelContainer{
	background-color: #fff;
}
.ps-custom .masterHead{
	background: none;
}
.bg-set1{
	background-color: #efefee;
}
.bg-set2{
	background-color: #f77b00;
}
.bg-set3{
	background-color: #edbd54;
	color: #845f29;
}
.border-set3{
	border-color: #edbd54;
}
.border-bottom-white{
	border-bottom: 1px solid #fff;
}
.set-top-bg{
	background-color: #f57b21;
	height: 63px;
}
.set-box2-bg{
	background:url("../img/wireframe/export/box2.png") !important;
	background-repeat: no-repeat !important;
	height: 63px;
	color: #fff;
	overflow: hidden;
	z-index: 1000;
	position: relative;
	display: table;
	margin:0 auto;
}
.project-header-floor-plan .set-top-bg{
	height: 58px;
}
.project-header-floor-plan .tag-project{
	line-height: 58px;
}
.bx-wrapper .bx-pager.bx-default-pager a.active{
	opacity: 1 !important;
}
.bx-wrapper .bx-pager.bx-default-pager a{
	width: 30px;
	height: 7px;
	opacity: 0.6;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	background-color: #f57b21 !important;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
	bottom: -9px;
}
.box-footer{
	height: 75px;
	font-size: 14px;
	padding: 15px;
}
.box-footer:hover{
	background: #f0f0f0;
}
/*.block{
	margin-right: 20px;
}*/
#search{
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 30px;
}
.form-label{
	font-size: 20px;
	margin-right: 0 !important;
}
.green{
	background-color: #8bc53e !important;
}
#find{
	border-bottom: 1px dashed #8bc53e;
	margin-right: 10px;
}
#result{
	margin-bottom: 20px;
}
#promotion .caption{
	text-align: center;
}
.thumbnail .caption{
	color: #fff;
	padding: 15px 0px;
}
.caption a{
	color: #fff !important;
}
/*set project nav*/
.project-nav nav{
	background-color: #edbe3e;
	border: 0px;
	border-radius:0px;
	border-top: 5px solid #dcae39;
}
.project-nav nav a{
	color: #000 !important;
}
.project-nav nav .active a{
	color: #fff !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	background-color: inherit;
}
/*set project-conter */
.project-content{
	overflow: hidden;
}
.project-logo-detail{
	padding-left: 10px;
}
.nav .nav-item{
	position: relative;
	border-bottom: 5px solid;
	top: 5px;
}
.nav .nav-item.active a{
	color: #f67441 !important;
}
/*set bg top nav*/
.bg-header{
	border-top: 5px solid #eef0f2;
	border-bottom: 5px solid #edbe3e;
}
#project-concept.nav-item{
	border-color: #f67441 !important;
}
#project-location.nav-item{
	border-color: #dd103a !important;
}
#project-facilities.nav-item{
	border-color: #421b05 !important;
}
#project-gallery.nav-item{
	border-color: #f6b18d !important;
}
#promotion.nav-item{
	border-color: #653a23 !important;
}
#news-activities.nav-item{
	border-color: #b16238 !important;
}
#contact-us.nav-item{
	border-color: #dd103a !important;
}
#contact-us-content{
	background: #f57b21;
	padding-top: 20px;
}
.main-menu{
	padding-top: 20px;
}
#logo{
	position: absolute;
}
.navbar-default{
	background-color: transparent;
	border-color:transparent;
	margin-bottom: 0px;
}
.navbar-default .container-fluid{
	padding-left: 0px;
}
#project-nav-items .navbar-nav>li{
	border-top: 5px solid transparent;
}
.ps-custom .social-book-mark .icon.favrorite{
	position: relative;
	top: 4px;
}
.wrapper{
	margin-top: 50px;
}
/*set border-project-header*/
.project-header{
	overflow: hidden;
	background-color: #efefee;
}
#project-gallery .project-content{
	padding-bottom: 0px;
	margin-top:0px;
}
.ps-custom .carousel-thumb .carousel-control{
	background-color: #fff;
	right: 0;
	top: 24px;
	height: 68px;
}
.ps-custom .carousel-thumb .carousel-control.left{
	background-image:url('../img/wireframe/export/06_plum_0001s_0006_Group_-2-Objects.png');
	height:100%;
	background-size: cover;
	background-position:50% 50%;
}
.ps-custom .carousel-thumb .carousel-control.right{
	background-image:url('../img/wireframe/export/06_plum_0001s_0000_Group_-2-Objects3.png');
	height:100%;
	background-size: cover;
	background-position:50% 50%;
}
.bx-wrapper .bx-prev{
	background-image:url('../img/wireframe/export/arrow-left.png') !important;
	background-repeat: no-repeat;
}
.bx-wrapper .bx-next{
	background-image:url('../img/wireframe/export/arrow-right.png') !important;
	background-repeat: no-repeat;
}
#header-gallery .menutop{
	padding-bottom: 0px;
	margin-bottom: 0px;
}
/*.text-watching{
	position: relative;
	top:-30px;
	height: 0px;
}*/
.main-content-detail{
	padding: 30px;
}
.ps-custom .carousel-thumb .gallery-list-item{
	margin-bottom:0px;
}
.bx-wrapper .bx-controls-direction a{
	position: absolute;
	top: 10px;
	 margin-top: 0px; 
	outline: 0;
	width: 32px;
	height: 114px;
	text-indent: -9999px;
	z-index: 9999;
}
.bx-wrapper .bx-controls-direction a{
	width: 44px;
}
.bx-wrapper .bx-next{
	right: -1px;
}
.home-specification .bx-wrapper{
	border: 0px;
}
.no-radius{
	border-radius: 0px;
}
.box2{
	line-height: 50px;
	color: #fff;
	font-size: 18px;
}
/*.box2 span{
	position: relative;
	top: 10px;
	font-size: 20px;
	text-transform: capitalize;
}*/
.set-font-customer{
	position:relative;
	top:2px;
}
.sub-box2{
	color: #585858;
	margin-bottom: 20px;
}
.header-table{
	font-size: 15px;
	color: #f77b00 !important;
}
.header-table.step-border{
	border: 1px solid #f77b00;
}
.table table{
	border: 1px solid #f77b00;
	background: #fff;
}
#step3 table{
	border:0px !important;
}
#step3 .table{
	padding-top: 30px;
	background: #fff;
}
.border-right-set1{
	border-right: 1px solid #f77b00;
}
.border-bottom-gray{
	border-bottom: 1px solid #6a6a6a;
}
.child-table.step-border{
	border-bottom: 1px solid #ebebeb;
}
:not(#table-step4-1)table tr:nth-last-child(2) .child-table.step-border:last-child{
	border-bottom: 1px solid #f77b00 !important;
}
.child-table{
	font-size: 13px;
	color: #777;
}
.head-table{
	text-align: left;
}
.no{
	position: relative;
	left: -45px;
	top:2px;
}
/*.detail{
	margin-top: 25px;
}*/
.download:hover{
	color: #7b5722 !important;
}
.folder-box .detail{
	position: relative;
	top:20px;
	color: #7b5722;
	cursor: pointer;
}
.folder-box:hover .detail{
	color: #fff;
}
.folder-box{
	/*position: relative;*/
	height: 100px;
	background-repeat: no-repeat;
	margin-bottom: 10px;
	background-image:url('../img/wireframe/export/folder.png');
	background-position: 50% 50%;
}
.box2-set-min-height{
	min-height: 60px;
}
.box2-set-min-height{
	/* background-image:url('../img/wireframe/bg-financial.png'); */
}
.font-brown{
	color: #806c60;
}
.box-step1{
	padding: 5px 15px;
	margin-right: 20px;
	background-color: #fff;
	color: #f57b21;
	border-color: #f57b21;
	-webkit-box-shadow: 4px 4px 2px 0px rgba(238,190,73,1);
	-moz-box-shadow: 4px 4px 2px 0px rgba(238,190,73,1);
	box-shadow: 4px 4px 2px 0px rgba(238,190,73,1);
	float: left;
	margin-bottom: 20px;
}
.tab-financial span:last-child{
	padding-left: 0px;
}
.box-step1.set-margin,.plan.set-margin{
	margin-bottom: 20px;
	margin-top: 20px;
	min-height: 40px;
}
.tab{
	padding: 5px 25px;
	cursor: pointer;
	background: #3e3e3e;
	border:0px;
	margin-right: 2px;
	color: #fff;
}
.tab.active{
	background: #f57b21;
	color: #fff !important;
	border: 0px;
	position: relative;
}
.tab-financial .tab{
	padding: 5px 40px;
}
.tab-financial.set-margin{
	margin-top: 30px;
	overflow: inherit;
}
.tab-five-steps .tab,.tab-financial .tab{
	display: table;
	margin: 0 auto;
}
.verti{
	display: table;
	width: 100%;
}
.verti-inner{
	display: table-cell;
	vertical-align: middle;
}
#step1,#step1,#step2,#step3,#step4,#step5{
	display: none;
}
.financial .control-label{
	font-weight: normal;
	font-size: 16px;
}
#financial form button{
	padding: 4px;
}
.new-slider{
	margin-top: 10px;
	overflow: hidden;
}
.bx-progress1 .bx-viewport{
	height: auto !important;
}
.bx-progress2 .bx-viewport{
	height: auto !important;
}
.bx-progress3 .bx-viewport{
	height: auto !important;
}
.bx-progress4 .bx-viewport{
	height: auto !important;
}
.bx-progress5 .bx-viewport{
	height: auto !important;
}
.bx-progress6 .bx-viewport{
	height: auto !important;
}
.bx-progress1 .bx-wrapper .bx-controls-direction a{
	height: 94px;
	width: 44px;
}
.bx-progress1 .bx-wrapper .bx-prev,.bx-progress1 .bx-wrapper .bx-next{
	background-position: 50% 50%;
	background-size: 100%;
}
.bx-progress2 .bx-wrapper .bx-controls-direction a{
	height: 94px;
	width: 44px;
}
.bx-progress2 .bx-wrapper .bx-prev,.bx-progress2 .bx-wrapper .bx-next{
	background-position: 50% 50%;
	background-size: 100%;
}
.bx-progress3 .bx-wrapper .bx-controls-direction a{
	height: 94px;
	width: 44px;
}
.bx-progress3 .bx-wrapper .bx-prev,.bx-progress2 .bx-wrapper .bx-next{
	background-position: 50% 50%;
	background-size: 100%;
}
.bx-progress4 .bx-wrapper .bx-controls-direction a{
	height: 94px;
	width: 44px;
}
.bx-progress4 .bx-wrapper .bx-prev,.bx-progress2 .bx-wrapper .bx-next{
	background-position: 50% 50%;
	background-size: 100%;
}
.bx-progress5 .bx-wrapper .bx-controls-direction a{
	height: 94px;
	width: 44px;
}
.bx-progress5 .bx-wrapper .bx-prev,.bx-progress2 .bx-wrapper .bx-next{
	background-position: 50% 50%;
	background-size: 100%;
}
.bx-progress6 .bx-wrapper .bx-controls-direction a{
	height: 94px;
	width: 44px;
}
.bx-progress6 .bx-wrapper .bx-prev,.bx-progress2 .bx-wrapper .bx-next{
	background-position: 50% 50%;
	background-size: 100%;
}
.icon-financial{
	position: relative;
	top:5px;
}
.tab-footer{
	padding-top: 30px;
	padding-bottom: 30px;
}
/*.ps-custom .list-items .list-item .thumbnail img{
	height: 228px;
}*/
.dropdown-menu.inner.selectpicker{
	text-align: left !important;
}
.promotion-detail{
	padding-bottom: 30px;
}
#project-gallery #project-nav-items{
	display: table;
	margin:0 auto;
}
#project-nav-items{
	position: relative;
	top: -5px;
	color: #000;
}
#project-nav-items .active{
	color: #000 !important;
	border-color: #c39732 !important;
}
.homespec-page-wrapper .how_to_buy{
	color:#f57a21;
}
.homespec-page-wrapper .buynow{
	background:#f57a21;
	position: relative;
	top: -10px;
	float: right;
}
.how_to_buy.pull-right{
	width: 100%;
}
.homespec-page-wrapper .how_to_buy span{
	display: inline;
	position: relative;
	top: -3px;
	float: none;
}
.homespec-page-wrapper .spec-image{
	padding: 0px;
}
.homespec-page-wrapper .home-spec-container{
	background-color: #efefee;
}
.homespec-page-wrapper .buyable-container{
	background-color: #efefee;
}
.navbar-default .navbar-nav>li:last-child>a{
	border-right: 0px;
}
#project-nav-items .navbar-nav{
	margin:0px;
}
#plan .social-book-mark{
	padding-right: 30px !important;
	padding-top: 20px !important;
}
.img-plan{
	text-align: center;
	background: #fff;
	border: 2px solid #f57b21;
	padding-bottom: 60px;
	padding-top: 60px;
	overflow: hidden;
	clear: both;
}
.project-header-floor-plan .shareBox{
	top: 10px !important;
}
.js-tab-toggle{
	background-color: #edbd54 !important;
    border-top:2px solid #edbd54  !important;
}
.js-tab-toggle.active{
    border-color: #dcad4c !important;
}
.breadcrumb>.active{
	color: #999 !important;
}
.new{
	border: 10px solid #efefee;
	overflow: hidden;
	background: #efefee;
	margin-top:20px;
}
.new .topic{
	padding-top: 20px;
}
/*set PRS-high-slider*/
/*.PRS-high-slider-inner{
	padding: 0px !important;
	border-top:5px solid #818181;
	min-height: 340px;
}*/
.PRS-high-slider{
	padding: 0px !important;
}
#PRS-high-regis{
	 --webkit-transition: all 1s; /* Safari and Chrome */
       -moz-transition: all 1s; /* Firefox */
        -ms-transition: all 1s; /* Internet Explorer */
         -o-transition: all 1s; /* Opera */
            transition: all 1s;
    opacity: 1;
    background-color: #fff;
   	/*margin-right: 15px;*/
}
.PRS-high-slider .PRS-high-regis-inner{
	padding: 10px;
	min-height: 318px !important;
	margin-top: 5px;
	background-color: #f77734 !important;
}
.blur{
	opacity: 0 !important;
}
.PRS-high-regis-inner{
	padding-top: 30px !important;
	position: relative;
	z-index: 10000;
}
.PRS-high-slider .PRS-high-regis{
	z-index: 1000;
	margin-top: 71px;
	height: 328px !important;
	background-color: #fff !important;
	border-bottom: 5px solid #dd103a;
	right: 0px;
}
.PRS-high-slider .register{
	position: absolute;
	right: 0px;
	top: 0;
	width: 262px;
	height: 71px;
	line-height: 71px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	z-index: 1001;
	background-color: #edbd54;
}
.PRS-high-slider .PRS-high-regis ul li label{
	background: transparent !important;
	color: #000;
}
.PRS-high-regis-inner li{
	color: #000;
}
.PRS-high-slider .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	bottom: -13px !important;
}
/*.PRS-high-slider .bx-wrapper .bx-pager.bx-default-pager a{
	background: #b11116 !important;
	padding: 3px 10px !important;
}*/
.regis-btn{
	position: relative;
	top: -16px;
	float: left;
	left: 108px;
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
}
.regis-btn.active{
 	bottom:93%; 
	transform:rotate(1260deg);
	-webkit-transform:rotate(1260deg);
	-moz-transform:rotate(1260deg);
}
.small-regis-btn{
	position: absolute;
	bottom: -10px;
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
}
.small-regis-btn.active{
 	bottom:93%; 
	transform:rotate(1260deg);
	-webkit-transform:rotate(1260deg);
	-moz-transform:rotate(1260deg);
}
#btn-register,#small-btn-register{
	background-color: #edbd54;
	border: 1px solid #fff;
	color: #000;
}
.ps-custom .cover-image .call-pruksa{
	z-index: 100;
}
.required{
	background: #b11116;
	position: absolute;
	color: #fff;
	width: 100px;
	font-size: 11px;
	border: 2px solid #ddd;
	box-shadow: 0 0 6px #000;
	-moz-box-shadow: 0 0 6px #000;
	-webkit-box-shadow: 0 0 6px #000;
	-o-box-shadow: 0 0 6px #000;
	padding: 4px 10px 4px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	top: -20px;
	left: 140px;
	display: none;
}
.tab-five-steps .set-box2-bg{
	width: 360px;
}
.tab-financial .set-box2-bg{
	width: 360px;
}
.tab-financial .set-padding{
	padding: 0 5px;
}
.tab-five-steps .box2{
	line-height: 30px;
	position: relative;
	top:-3px;
}

#table-2,#table-3,#table-4{
	display: none;
}
.table-tab{
	cursor: pointer;
}
.table-tab.active{
	background-color: #f57b21 !important;
	color:#fff;
	border-color: #000;
}
/* set social*/
.ps-custom .social-book-mark .ps-project-share-Left{
	top: 5px !important;
	overflow: hidden;
}
.ps-custom .social-book-mark .shareBox{
	border-color: #86867c;
	position: relative;
}
.st_googleplus_hcount .stButton_gradient{
	position: relative;
	/*top: 5px;*/
}
.st_googleplus_hcount .stArrow .stButton_gradient{
	position: relative;
	top:0px !important;
}
.project-header-floor-plan .ps-project-share-Left{
	top:-7px !important;
}
.tag-project{
    line-height: 63px;
    padding-left: 15px;
	font-size: 18px;
}
.project-detail{
	padding: 30px;
}
.project-border-detail{
	margin: 20px;
	border: 1px solid #f57b21;
	padding: 20px;
	background-color: #fff;
	overflow: auto;
}
#send{
	background-color: #edbd54;
	color: #533014;
}
.img-fullsize img{
	height: 104px;
}
.related p{
	background: #edbd3d;
	padding:15px;
	margin-bottom: 0px;
	color: #533014;
}
.tab-galleries{
	border-top: 5px solid #dcae39;
	padding: 20px;
}
.tab-gallery{
	margin-right: 20px;
	font-size:16px;
	color: #fff;
	cursor: pointer;
}
.tab-gallery.active{
	color: #b11116;
}
/* set register small size */
.small-size-register{
	padding: 20px;
	background: #f77734;
	overflow: hidden;
	display: none;
	padding-bottom: 10px;
}
.small-size-register form{
	margin-top: 20px;
}
.small-size-register input{
	color: #000;
}
.l-topic{
	vertical-align: top;
	width: 130px;
	text-align: right;
	letter-spacing: -1px;
}
#factsheet{
	letter-spacing: -1px;
}
.plan-menu{
	border-left: 5px solid #d1c8ba;
	font-size: 14px;
	padding:5px 10px;
	background-color: #efefee;
	margin-right: 12.5px;
}
.plan-menu .active{
	color: #f57b21;
}
.plan-menu.active{
	color: #fff;
	background-color: #f57b21;
	margin-top: 1px;
	margin-bottom: 1px;
	border-left:0px;
	border-right: 5px solid #edbe3e;
}
.plan-detail{
	margin-left: 12.5px;
	background-color: #efefee;
	padding: 20px;
	overflow: hidden;
}
.project-nav li a{
	padding-right: 0px;
}
.project-nav li span{
	line-height: 8px;
	border-right: 1px solid #fff;
	padding-right: 20px;
}
.project-nav li:last-child span{
     border: 0px;   
}
#PRS-high-regis .slider2{
	min-height: 415px !important;
}
@media(max-width: 1170px){
	.register,.PRS-high-regis{
		display: none !important;
	}
	.PRS-high-slider{
		margin-bottom: 0px !important;
	}
	.small-size-register{
		display: block;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.full-height{
		height: auto;
	}
	.social-book-mark .col-xs-12{
		text-align: center;
	}
	/*.box{
		min-height: 0;
	}*/
}
@media (max-width: 992px){
	.box-footer{
		margin-top: 10px;
	}
	.nav-item{
		font-size: 12px;
	}
	.project-logo-detail p.topic br{
		display: none;
	}
	.box{
		height: auto;
	}
	.box-footer{
		font-size: 12px;
	}
	.month,.year{
		display: inline;
	}
	.footer-txt.font-16{
		font-size: 13px !important;
	}
	#box-step1{
		width: 100%;
		clear: both;
		overflow: hidden;
	}
	.plan-menu{
		margin-right: 0px;
	}
	.plan-detail{
		margin-left: 0px;
	}
	.new-img{
		text-align: center;
		margin-top: 10px;
	}
	.box-step1{
		float: left;
        width: 48%;
        margin-right: 2%;
	}
}
@media(max-width:980px){
	.ps-custom .social-book-mark .ps-project-share-Left {
		top: 0px !important;
	}

}
@media(max-width:320px){
	.bx-wrapper .bx-controls-direction a{
		height: 78px !important;
	}
	.box2{
		font-size: 16px !important;
	}
	.tab-gallery{
		font-size: 14px;
	}
	p.topic{
		font-size: 15px;
	}
	.tab-financial .tab {
		padding:5px 20px;
	}
	.tab-financial .set-box2-bg {
    	width: 290px;
	}
	.tab-five-steps .set-box2-bg{
		width: 290px;
	}
}
@media (max-width: 767px){
	.bxslider{
		height: auto !important;
	}
	.map-image {
		height:  auto !important;
	}
	.PRS-high-tag-LT img{
		width: 130px !important;
	}
	body {
		margin-bottom: 780px;
	}
	.row.social-book-mark{
		overflow: hidden;
		/*height: 220px;*/
	}
	.navbar-default .navbar-nav>li>a{
		border: 0px;
	}
	.ps-custom .navbar-default{

	}
	#plan .social-book-mark{
		padding: 0px !important;
	}
	#project-nav-items{
		position: inherit;
	}
	#project-nav-items .active{
		border: 0px !important;
	}
    .project-nav li span{
		border: 0px !important;
    }
    .box-step1 {
		width: 100%;
		margin-right: 2%;
	}
	.ps-project-share-Left{
		height: 55px;
	}
	.ps-project-share-SocialBtn span{
		float: left !important;
	}
}
.jspVerticalBar{
	width: 13px !important;
}
.jspTrack{
	background: rgba(255, 255, 255,0.8) !important;
}
.jspDrag{
	background: rgba(245, 123, 33,0.8) !important;
}
.scroll-pane
{
	width: 100%;
	height: 100px;
	overflow: auto;
}
/* facebook */
.fb-like-box.fb_iframe_widget{
	width:100% !important;
}
.fb-like-box.fb_iframe_widget span{
	width:100% !important;
}
iframe[title='fb:like_box Facebook Social Plugin']{
	width:100% !important;
}
.help-block[for='inqtype_id'] {
	margin-top: 5px !important;
	margin-bottom: 10px !important;
	font-size: 13px;
}
/*gmap*/
#map-canvas{
	height: 491px;
}
.map-image {
	height: 491px;
	vertical-align: middle;
	display: table-cell;
}
.ps-custom-modal .btn {
	background: #c0c0c0;
}
.video-container{
	max-width: 1145px;
	text-align: center;
}
#submit_buy_item{
	margin-right: 5px;
}
.ps-project-share-SocialBtn span{
	float: left;
	top:2px;
}
.mobile-menu .stButton_gradient.stHBubble{
	height: 20px !important;
}
.mobile-menu{
	margin-top: 20px;
}
.mobile-menu .stMainServices{
	height: 26px !important;
}
.mobile-menu .st_facebook_hcount{
	display: initial !important;
}
.mobile-menu .st_twitter_hcount{
	display: initial !important;
}
#activity .new-img .bx-wrapper:last-child{
	margin-top: 10px !important;
}
#activity .bx-wrapper .bx-controls-direction a{
	position: absolute;
	margin-top: -32px;
	outline: 0;
	width: 36px;
	height: 64px !important;
	text-indent: -9999px;
	z-index: 9999;
	background-position: 50% 50%;
}
#activity .bx-wrapper .bx-controls-direction a.bx-next{
	margin-right: -11px;
}
#activity .bx-wrapper .bx-controls-direction a.bx-prev{
	left: 0px;
}