@charset "utf-8";
/* CSS Document */

.ps-KS-hd-global-SaT { float:right !important;}
.ps-KS-hd-global-SaT li { height:80px; padding:20px 5px 5px;}
.ps-KS-hd-global-Tel { display:block; margin-top:9px;}