# Ignore everything
*
/files/*
/files/_thumbs/*

/images/*
/images/_thumbs/*

# ...even if they are in subdirectories
!*/
!/files/.gitkeep
!/files/_thumbs/.gitkeep
!/images/.gitkeep
!/images/_thumbs/.gitkeep